
<%= form_for(@sales_call_entry) do |f| %>
  <% if @sales_call_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sales_call_entry.errors.count, "error") %> prohibited this sales_call_entry from being saved:</h2>

      <ul>
      <% @sales_call_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class='row well'>
  <div class = 'span5'>
    <div class="field">
      <%= f.label :shipper_name %>
      <%= f.select :shipper_name, options_for_select(build_customer), {} ,:class=>"chosen-select" %>
    </div>
    <div class="field">
      <%= f.label :pic %>
      <%= f.text_field :pic %>
    </div>
    <div class="field">
      <%= f.label :date %>
      <%= f.text_field :date, :value => Time.zone.today.strftime('%Y-%m-%d'), :class => 'datepicker' %>
    </div>
    <div class="field row">
       <div class="span" style="margin-left:20px;">
        <div class="span4"><%= f.label :escalation %></div>
        <div class="span3"><%= f.check_box :escalation %></div>
      </div>
    </div>
    <div class="field row">
      <div class="span" style="margin-left:20px;">
        <div class="span4"><%= f.label :enquiry_recieved %></div>
        <div class="span2"><%= f.check_box :enquiry_recieved, :class => 'pollo' %></div>
      </div>
    </div>
  </div>
  <div class="span5">
    <div class="field">
      <%= f.label :point_discussed %>
      <%= f.text_area :point_discussed, :style =>'height:108px;width:500px', :class =>'span8' %>
    </div>
    <div class="field">
      <%= f.label :my_observation %>
      <%= f.text_area :my_observation, :style =>'height:108px;width:500px', :class =>'span8' %>
    </div>
  </div>
  <br><br>
  <div id='enquiry' class='span12' style='display:none'>
  <br><br>
  <%= f.fields_for :sales_call_entires  do |builder|%>
    <div class = 'span5'>
      <div class="field">
        <%= builder.label :mode, :class => 'span3 label1'%>
        <%= builder.select :mode, options_for_select(SalesCallEnquiry::MODES), :include_blank => 'Please Select' %>
      </div>
      <div class="field">
        <%= builder.label :pol,:class => 'span3 label1' %>
        <%= builder.text_field :pol %>
      </div>
      <div class="field">
        <%= builder.label :pod,:class => 'span3 label1' %>
        <%= builder.text_field :pod %>
      </div>
      <div class="field">
        <%= builder.label :cargo,:class => 'span3 label1' %>
        <%= builder.text_field :cargo %>
      </div>
    </div>
    <div class = 'span5'>
      <div class="field">
        <%= builder.label :volume_idea,:class => 'span3 label1' %>
        <%= builder.text_field :volume_idea %>
      </div>
      <div class="field">
        <%= builder.label :rate_indication,:class => 'span3 label1' %>
        <%= builder.text_field :rate_indication %>
      </div>
      <div class="field">
        <%= builder.label :shipment_date,:class => 'span3 label1' %>
        <%= builder.text_field :shipment_date,  :class => 'datepicker' %>
      </div>
      <div class="field">
        <%= builder.label :possibility_to_secure,:class => 'span3 label1' %>
        <%= builder.text_field :possibility_to_secure %>
      </div>
      <br>
      <div class="field">
        <%= builder.label :competitor,:class => 'span3 label1' %>
        <%= builder.text_field :competitor %>
      </div>
      <div class="field">
        <%= builder.label :special_instruction,:class => 'span3 label1' %>
        <%= builder.text_field :special_instruction %>
      </div>
      <br>
    </div>
  <% end %>
  </div>
</div>
  <div class="actions">
  <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Save", :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
  jQuery(document).ready(function() {       
   $('.pollo').live('click',function(event){
    if ($(this).is(':checked'))
    {
      $('#enquiry').show();
    }
    else
    {
      $('#enquiry').hide(); 
    }
   });
  });
</script>   
