<p id="notice"><%= notice %></p>

<%= link_to 'Back to Sales Call Entries', sales_call_entries_path %>
<br><br><br>
<table class='table table-bordered table-hover'>
    <% SalesCallEntry.get_column_names.each do |cn| %>
      <tr>
        <td><%= cn.titlecase %></td>
        <td><%= @sales_call_entry[cn]%></td>
      </tr>
    <% end %>
    <% if @sales_call_entry.enquiry_recieved && @sales_call_entry.sales_call_enquiry %>
      <% @sales_call_enq = @sales_call_entry.sales_call_enquiry %>
      <% SalesCallEnquiry.get_column_names.each do |cn| %>
        <tr>
          <td><%= cn.titlecase %></td>
          <td><%= @sales_call_enq[cn]%></td>
        </tr>
      <% end %>
    <% end %>
</table>

<!-- 
<p>
  <b>Date:</b>
  <%= @sales_call_entry.date.strftime('%d - %b - %Y') %>
</p>

<p>
  <b>Shipper name:</b>
  <%= @sales_call_entry.shipper_name %>
</p>

<p>
  <b>Pic:</b>
  <%= @sales_call_entry.pic %>
</p>

<p>
  <b>Point discussed:</b>
  <%= @sales_call_entry.point_discussed %>
</p>

<p>
  <b>My observation:</b>
  <%= @sales_call_entry.my_observation %>
</p>

<p>
  <b>Enquiry recieved:</b>
  <%= @sales_call_entry.enquiry_recieved %>
</p>

<p>
  <b>Escalation:</b>
  <%= @sales_call_entry.escalation %>
</p>

 -->

<%= link_to 'Back', sales_call_entries_path %>
