<%= form_for(@booking_report) do |f| %>
  <% if @booking_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking_report.errors.count, "error") %> prohibited this booking_report from being saved:</h2>

      <ul>
      <% @booking_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit :create, :class => "btn btn-info" %>
  </div>
<% end %>
