<h1>Listing booking_reports</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @booking_reports.each do |booking_report| %>
  <tr>
    <td><%= booking_report.name %></td>
    <td><%= booking_report.description %></td>
    <td><%= link_to 'Show', booking_report %></td>
    <td><%= link_to 'Edit', edit_booking_report_path(booking_report) %></td>
    <td><%= link_to 'Destroy', booking_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Booking report', new_booking_report_path %>
