<div class="span12"> 
  <%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this sales_call_entry from being saved:</h2>

        <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <% @headers = @booking_order.get_header %>
    <% @headers.each do |header| %>
      <div class='span5'>
        <div class="field">
          <%= f.label header.pretty_name %>
          <% if header.name == 'customer_name' %>
            <%= f.select header.name, options_for_select(build_customer(true)), {} ,:class=>"chosen-select"%>
          <% else %>
            <% class1 = '' %>
            <% if header.datatype == "date" %>
              <% class1 = 'datepicker' %>
            <% end %>
            <%= f.text_field header.name, :class => class1 %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="actions span10">
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Save", :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>