<% if @booking %> <%# [ES14-0013] - Joel - Displaying booking ID %>
	<h3>
		Booking Order Details (<%= @booking.id %>)
	</h3>

	<%= link_to 'All Bookings', booking_orders_path, :class => 'btn btn-success' %>

	<%= link_to 'New Booking', new_booking_path,:class => 'btn btn-success' %>

	<%= link_to 'Edit this Booking', edit_booking_path(@booking),:class => 'btn btn-success' %>
	<br><br>
	Nominated Booking: <%= @booking.is_nomination%>
	<br>

	<%= render :partial => 'shared/booking_show' %>

<% else %>
	<h3>Sorry, the booking you are looking for is not found in the system!</h3>
	<%= link_to 'All Bookings', booking_orders_path, :class => 'btn btn-success' %>
	<%= link_to 'New Booking', new_booking_path,:class => 'btn btn-success' %>

 <% end %>
