
<h4>
 Mile Stone Details
</h4>
<div class="attributes_table">
	<table class='table table-bordered table-hover'>
		<tr>
			<th>Mile Stone</th>
			<th>Emailer Status</th>
			<th>Date</th>
		</tr>

		<% @booking.booking_emailers.each do |be| %>
			<tr >
				<td><%= be.emailer.name %></td>
				<td>
					<%= be.state %>
					<%= link_to "Resend?", "/send_email_to_user?id=#{be.id}" %>
				</td>
				<td><%= be.updated_at.strftime('%d %b %Y') %></td>
			</tr>
		<% end %>
	</table>

	<table class='table table-bordered table-hover'>
			<% @booking.customer_name #fix %>
	    <% @booking.booking_order.get_header.each do |header| %>
	      <tr class='row'>
	        <th><%= header.pretty_name %></th>
	        <td><%= @booking[header.name] %></td>
	      </tr>
	    <% end %>
	</table>
</div>