<style type="text/css">
  tr{
    width: 100px !important;
  }
</style>
<div class="pollo">
<br>
	<%= link_to "Add New Header", edit_booking_order_path(BookingOrder.first), :class => 'btn btn-warning' %>
</div>
<h3> Booking Order </h3>
<% head = BoReport.find(1).bo_report_fields.collect(&:magic_column) %>
<% @pretty_headers = head.collect(&:pretty_name) %>
<% @headers = head.collect(&:name) %>
<div class="container-fluid">
  <div class="widget-body">
    <div class="clearfix margin-bottom-10">
      <div class="btn-group">
         <a href=<%= new_booking_path %> class="btn btn-success", total = "<%= @headers.count %>">
         Add New <i class="icon-plus"></i>
         </a>
      </div>

    </div>


    <% if @headers.empty? %>
    	No Headers Found. Plz add header.
    <% else %>
	    <div id="sample_editable_1_wrapper" class="dataTables_wrapper form-inline" role="grid">

	    <table aria-describedby="sample_editable_1_info" class="table table-striped table-hover table-bordered dataTable" id="sample_editable_1">
	      <thead>
	        <tr role="row">
	        	<th aria-label="" style="width:80px;" aria-controls="" tabindex="0" role="columnheader" class="sorting">
	        		State
	        	</th>
		        <% @pretty_headers.each_with_index do |head,i| %>

		          <th aria-label="" style="width:80px;" aria-controls="" tabindex="0" role="columnheader" class="sorting">
		          <%= head %>
		          </th>

		        <% end %>
		        <th style="width:40px;">Updated At</th>
		        <th aria-label="Edit: activate to sort column ascending" style="width:40px;" colspan="1" rowspan="1" aria-controls="sample_editable_1" tabindex="0" role="columnheader" class="sorting">
		        </th>
		        <th aria-label="Delete: activate to sort column ascending" style="width:40px;" colspan="1" rowspan="1" aria-controls="sample_editable_1" tabindex="0" role="columnheader" class="sorting">
		        </th>
	        </tr>
	      </thead>
	      <tbody aria-relevant="all" aria-live="polite" role="alert">
	      	<% @booking_order.bookings.order('id desc').each_with_index do |order,i| %>
	      		<% class1 = 'odd' %>
	      		<% if i % 2 == 0 %>
	      			<% class1 = 'even' %>
	      		<% end %>
	      		<% order.try(:customer_name) %>

	      	  <tr class="<%= class1 %>" id="<%= order.id %>">
	      	  <td class="">
	      	  	<%= order.state %>
	      	  </td>
	      	  	<% @headers.each_with_index do |head,i| %>

                <td class=" " >
                	<%= order[head.to_s] || " " %>
                </td>

              <% end %>
              <td><%= order.updated_at.strftime('%d-%b-%y') %> </td>
              <td class=" "><%= link_to 'Edit', edit_booking_path(order) %></td>
              <td class=" "><%= link_to 'Show', booking_path(order) %></td>

         		</tr>
         	<% end %>
	      </tbody>
	   	</table>
	  </div>
	  <% end %>
	</div>
</div>
<div style='display:none' class='select_test'>
  <%= select_tag :state, options_for_select(build_customer(true))%>
</div>
   <script type="text/javascript" src="/jquery_004.js"></script>
   <script type="text/javascript" src="/DT_bootstrap.js"></script>
   <script src="/table-editable.js"></script>
	   <script>
	      jQuery(document).ready(function() {
	         TableEditable.init();
	         $('#body').css('width',"<%= @headers.count * 90 %>");
	      });
	   </script>
