<style type="text/css">
  tr{
    width: 100px !important;
  }
</style>
<div class="pollo">
<br>
	<%= link_to "Add New Header", edit_booking_order_path(BookingOrder.first), :class => 'btn btn-warning' %>
</div>
<h3> Booking Order </h3>
<div class="container-fluid">
  <div class="widget-body">
    <div class="clearfix margin-bottom-10">
      <div class="btn-group">
         <a href=<%= new_booking_path %> class="btn btn-success">
         Add New <i class="icon-plus"></i>
         </a>
      </div>
      <hr>
      <center class="find center">
        <% if params[:msg] %>
          <div style="color:red;">
            <%= "No Booking Found with this id #{params[:msg]}" %>
          </div>

        <% end %>
        <h4> Find Booking By Id </h4>
        Get Booking id from this report.
        <%= link_to "Booking Report", "/bo_reports/1", :target => "_blank" %>
        <%= form_tag "/find_booking" do %>
          <%= text_field_tag :id %>
          <br>
          <%= submit_tag :find ,:class => 'btn btn-info'%>
        <% end %>
      </div>
    </div>
	</div>
</div>

