<h3 class="page-title">
JBC order Detail
</h3>
<ul class="breadcrumb">
<li><a href="/jbc"> JBC order Details</a> &nbsp;&nbsp;&nbsp;
<a href="/jbc_mailers"> JBC Mailers</a> &nbsp;&nbsp;&nbsp;
<a href="/delivery_options"> Delivery Options</a> &nbsp;&nbsp;&nbsp;
<a href="/city_view">City View</a> &nbsp;&nbsp;&nbsp;
</li>
</ul>
<section class="round">
  <% flash.each do |key, value| %>
    <div style="margin-top: 20px; padding: 0pt 0.7em;"> 
      <p>
        <span style="float: left; margin-right: 0.3em;"></span>         
        <strong><%= content_tag(:div, value, :class => "alert alert-notice") %></strong>
        <% if defined?(flush_flash) and flush_flash == true %>
          <% flash.clear %>
        <% end %>
      </p>
    </div>
  <% end %>
</section>
<span style="font-size: 13px;">
  <% if @order && if @order.errors.any? %>
    <div id="error_explanation">
    <ul>
    <% @order.errors.full_messages.each do |msg| %>
      <b> <li><%= msg %></li></b>
      <% end %>
      </ul>
      </div>
    <% end %>
    <br>
  <% end %>
</span>
<div class="widget">
	<div class="widget-title">
		<h4><i class="icon-shopping-cart"></i><%= "Order From #{@order.try(:name)}"%></h4>
	</div>
	<div class="widget-body" style="min-height:380px;">
		<div class='span6'>
			<table class="table table-striped table-bordered table-advance table-hover">
				<tr>
					<th>Name</th>
					<td><%= @order.name %></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><%= @order.email %></td>
				</tr>
				<tr>
					<th>Phone Number</th>
					<td><%= @order.phone_number || '-' %></td>
				</tr>
				<tr>
					<th>No of Copies</th>
					<td><%= @order.number_of_copies %></td>
				</tr>
				<tr>
					<th>State</th>
					<td><b><%= @order.state %></b></td>
				</tr>
				<tr>
					<th>order Date</th>
					<td><%= @order.order_date %></td>
				</tr>			
				<tr>
					<th>Address</th>
					<td><%= @order.addres %></td>
				</tr>																	
			</table>
		</div>
		<div class="span6 well" style="text-align:center">
		<% unless @order.state == JbcOrders::CLOSE %>
				<%= link_to "Close order", "/jbc_order_state_change?id=#{@order.id}&state=#{JbcOrders::CLOSE}", :class=>"btn btn-medium btn-success", :onclick=>"return confirm('Are you sure to do this?. This will send a mail to customer')" %>
				<br/>
				<br/>
			<% if @order.state != JbcOrders::DISPATCH  && @order.state != JbcOrders::PAYMENT %>
				<%= link_to "Amount Recievd", "/jbc_order_state_change?id=#{@order.id}&state=#{JbcOrders::PAYMENT}", :class=>"btn btn-medium btn-success", :onclick=>"return confirm('Are you sure to do this?. This will send a mail to customer')" %>
				<br/>
				<br/>
			<% elsif @order.state == JbcOrders::PAYMENT %>
				<%= link_to "Dvd Dispatched", "/jbc_order_state_change?id=#{@order.id}&state=#{JbcOrders::DISPATCH}", :class=>"btn btn-medium btn-success", :onclick=>"return confirm('Are you sure to do this?. This will send a mail to customer')" %>
			<% else %>

			<% end %>
		<% else %>
			<b>Order Closed.</b>
		<% end %>
		</div>
	</div>
</div>

		        	
		        	
		        	
		        	
		        	
		        	
		        	
