<h1>Listing agencies</h1>

<table class="table">
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @agencies.each do |agency| %>
  <tr>
    <td><%= agency.email %></td>
    <td><%= agency.name %></td>
    <td><%= agency.country %></td>
    <td><%= agency.city %></td>
    <td><%= agency.approved %></td>
    <td><%= link_to 'Show', agency %></td>
    <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_agency_path(agency) %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agency', new_agency_path %>
