<!--
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div>
    <%= f.submit "Sign in" , :class => ["btn", "btn-success"]%>    
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      &nbsp;or <span style="padding: 5px;"><%= link_to "Sign up", new_registration_path(resource_name) %></span>
    <% end -%>

  </div>
<% end %>
-->

   <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => :'form-horizontal', :id => 'loginform', :class=>"form-vertical no-padding no-margin") do |f| %>
      <p class="center">Enter your username and password.</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"></span>
            <%= f.email_field :email, :autofocus => true, :id=>"user_email", :name=>"user[email]" ,:placeholder=>"Username", :size=>"30",:type=>"email"%>
            <!-- <input id="input-username" type="text" placeholder="Username" /> -->
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"></span>
              <%= f.password_field :password, :id=>"input-password", :name=>"user[password]", :placeholder=>"Password", :size=>"30", :type=>"password" %>
            <!-- <input id="input-password" type="password" placeholder="Password" /> -->
          </div>
        </div>
      </div>
      <div class="control-group remember-me">
        <div class="controls">
          <label class="checkbox">
          <input name="remember" value="1" type="checkbox"> Remember me
          <%= link_to "Forgot password?", new_password_path(resource_name), :style=>'font-size:11px;float:right' %><br />
          </label>
          
        </div>
      </div>
      <input id="login-btn" class="btn btn-block btn-inverse" value="Login" type="submit">

    <% end %><!-- END LOGIN FORM -->        
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form id="forgotform" class="form-vertical no-padding no-margin hide" action="index.html">
      <p class="center">Enter your e-mail address below to reset your password.</p>
      <div class="control-group">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span><input id="input-email" placeholder="Email" type="text">
          </div>
        </div>
        <div class="space10"></div>
      </div>
      <input id="forget-btn" class="btn btn-block btn-inverse" value="Submit" type="button">
    </form>
