<html>
  <head>
    <style type="text/css">
      body,td{
        font-family: "Calibri";
        font-size: 11pt;
      }
      .divider {
        background-color:#555555;
        height:2px;
      }
      #footer {
        font-size:11px;
        color:#555555;
      }
      #footer a {
        color:#555555;
      }
      table{
        table-layout: fixed;
        width: 535.5pt;
      }
      td{
        width:178.5pt;
        height:20pt;
      }
    </style>
  </head>
  <body>
    <%= "If you want to send the below email to customer(#{@booking.customer.email}). click" %>
    <b><%= link_to 'Here', "http://www.jseuroexim.com/send_email_to_customer?id=#{@be.id}" %></b>
    <br>
    <%= "If you want to edit the below email to customer(#{@booking.customer.email}). click" %>
    <b><%= link_to 'Here', "http://www.jseuroexim.com/bookings/#{@booking.id}/edit" %></b>
    <hr>
    <br>
    <%= render :partial => 'mailers/mile_stone_emailer', :locals => {:emailer => @emailer} %>
    <% @booking.booking_emailers.order('id desc').each_with_index do |be,i| %>
      <% if i > 1 %>
        <hr>
        <%= render :partial => 'mailers/mile_stone_emailer', :locals => {:emailer => be.emailer} %>
      <% end %>
    <% end %>
  </body>
</html>


