<html>
<head>
</head>
<body>
  <% hash = @booking.build_hash_for_mailer %>
  <%= "If you want to send the below email to customer(#{@booking.email}). click" %>
  <b><%= link_to 'Here', "http://localhost:3000/send_email_to_customer?id=#{@be.id}" %></b>
  <hr>
  <br>
  <p class="MsoNormal"><u></u>&nbsp;<u></u></p>
  
  <!-- Header Image -->
  <p style="margin:0cm;margin-bottom:.0001pt">
    <span lang="EN-US">
      <img width="933" height="233" alt="Header Image" src= <%= @emailer.header %> >
    </span>
    <span lang="EN-US" style="font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;color:#002060"><u></u><u></u>
    </span>
  </p>
  
  <!-- Body -->
  <%= (@emailer.body % hash).html_safe %>
  
  <!-- Horizontal Tables -->
  <% if @emailer.emailer_horizontals.any? %>
    <table width="731" border="0" cellspacing="0" cellpadding="0" style="width:548.6pt;border-collapse:collapse;font-size:14px;">
      <tbody>
        <% hors = @emailer.emailer_horizontals %>
        <tr style="height:40px">
          <% hors.each do |eh| %>
            <td width="203" style="width:152.6pt;border:solid silver 1.0pt;background:#31849b;padding:0cm 0cm 0cm 0cm;">
            <p align="center" style="text-align:center" class="MsoNormal">
              <span style="color:white">
                <%= eh.top % hash %>
                <u></u><u></u>
              </span>
            </p>
            </td>
          <% end %>
        </tr>
        <tr style="height:40px">
          <% hors.each do |eh| %>
            <td width="203" style="width:152.6pt;border:solid silver 1.0pt;border-top:none;background:#ddd9c3;padding:0cm 0cm 0cm 0cm;">
            <p align="center" style="text-align:center" class="MsoNormal">
            <%= eh.bottom % hash %>
            <span><u></u><u></u></span></p>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
  <p style="margin:0cm;margin-bottom:.0001pt"><span lang="EN-US" style="font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;color:#002060"><u></u>&nbsp;<u></u></span></p>
  <p style="margin:0cm;margin-bottom:.0001pt"><span lang="EN-US" style="font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;color:#002060"><u></u>&nbsp;<u></u></span></p>
  <p style="margin:0cm;margin-bottom:.0001pt"><span lang="EN-US" style="font-size:10.0pt;font-family:&quot;Verdana&quot;,&quot;sans-serif&quot;;color:#002060"><u></u>&nbsp;<u></u></span></p>
 
    <table width="735" border="0" cellspacing="0" cellpadding="0" style="width:551.35pt;border-collapse:collapse">
      <tbody>
        <tr style="min-height:20.1pt">
          <td width="205" valign="bottom" style="width:153.85pt;border:solid white 1.0pt;border-right:solid #95b3d7 1.0pt;background:#31849b;padding:0cm 5.4pt 0cm 5.4pt;min-height:20.1pt" rowspan="20">
            <p align="center" style="text-align:center" class="MsoNormal"><b><span style="font-size:24.0pt;color:#215868">SHIPMENT</span></b><span style="font-size:24.0pt;color:#92cddc"> </span><span style="font-size:24.0pt;color:#1f497d"><u></u><u></u></span></p>
            <p align="center" style="text-align:center" class="MsoNormal"><span style="font-size:24.0pt;color:#92cddc">DETAILS</span><span style="font-size:10.0pt;color:#92cddc"><u></u><u></u></span></p>
          </td>
          <td width="216" nowrap="" style="width:162.0pt;border:solid #95b3d7 1.0pt;border-left:none;background:#215868;padding:0cm 5.4pt 0cm 5.4pt;height:40px;">
          <p class="MsoNormal"><span style="color:white">Shipper Name<u></u><u></u></span></p>
          </td>
          <td width="314" nowrap="" style="width:235.5pt;border:solid white 1.0pt;border-left:none;background:#c4bc96;padding:0cm 5.4pt 0cm 5.4pt;height:40px;">
          <p class="MsoNormal">
            <%= @booking.customer_name %>
          <u></u><u></u></p>
          </td>
        </tr>
        <% if @emailer.email_tables.any? %>
          <% @emailer.email_tables.each do |et| %>
            <tr style="min-height:20.1pt">
              <td width="216" nowrap="" style="width:162.0pt;border-top:none;border-left:none;border-bottom:solid #95b3d7 1.0pt;border-right:solid #95b3d7 1.0pt;background:#215868;padding:0cm 5.4pt 0cm 5.4pt;height:40px;">
                <p class="MsoNormal"><b><span style="color:white">
                <%= et.left % hash %>
                </span></b><span style="color:white"><u></u><u></u></span>
                </p>
              </td>
              <td width="314" nowrap="" style="width:235.5pt;border-top:none;border-left:none;border-bottom:solid white 1.0pt;border-right:solid white 1.0pt;background:#eeece1;padding:0cm 5.4pt 0cm 5.4pt;height:40px;">
              <p class="MsoNormal">
                <%= (et.right % hash).html_safe %>
              <u></u><u></u></p>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <br/>
  <%= (@emailer.footer % hash).html_safe %>


</body>
</html>